@use '../styles/variables.scss';

.switchTools {
  display: flex;
  position: fixed;
  bottom: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 0.4rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
}

.onScreenBtn {
  @include variables.nakedButton;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  border-radius: 0.2rem;
  padding: 0.5rem;
  background-color: variables.$debugGuiBackgroundLighter2;
  transition: background-color 0.17s ease-in-out;
  width: 3.2rem;
  height: 3.2rem;

  &:hover {
    background-color: variables.$debugGuiBackgroundLighter;
  }

  svg path {
    fill: variables.$debugTextColor;
  }
}
