@forward './normalize.scss';

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1.6rem;
}

#mainCanvas {
  width: 100%;
  height: 100%;
}

#guiContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uiIcon {
  svg {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.statsContainer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background: #222;
  padding: 0.4rem 0.4rem 0 0;
  border-radius: 0 0.4rem 0 0;
  -webkit-filter: grayscale(100%);
  filter: brightness(200%) contrast(100%) grayscale(100%);

  > div {
    display: flex;
    position: static !important;
    opacity: 0.45 !important;
  }

  &.vertical {
    > div {
      flex-direction: column-reverse;
    }
  }

  canvas {
    position: static !important;
  }
}
