// Colors
$white: #ffffff;
$black: #000000;
$debugGuiBackground: #020202;
$selectedDebugTabButton: #080808;

// Naked styles
@mixin nakedButton {
  border-radius: 0;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  background: $white;
  cursor: pointer;
}
